In [1]:
import pandas as pd
import unicodedata

In [2]:
df = pd.read_csv("exilarchiv-monografien-mit-geoloc-v6-corr2.csv", sep=';', encoding="utf-8")
df_cord = pd.read_csv("exilarchiv_monografien-mit-geoloc_v5.csv", encoding="utf-8")
print(len(df))
print(len(df_cord))

27593
27593

In [3]:
#df = df.rename(columns={'idn,Satzart,Haupttitel,Verlagsname,Erscheinungsort,Formangabe.online,author.name,author.vorname,author.idn,sprache.text,sprache.original,Erscheinungsjahr,idn.Druckausg,idn.reihe.a,Satzart.druck,Erscheinungsland.druck,Formangabe.druck,Sachgruppe,Geschlecht,Ersch.ort.no.brack,city,state,lat,long,Formangabe.bez.druck,Formangabe.bez.online': 'all'})
#df = df.rename(columns={'Ersch.ort.no.brack': 'pubplace'})
df = df.drop(['lat', 'long'], axis=1)

In [74]:
df

,idn,Satzart,Haupttitel,Verlagsname,Erscheinungsort,Formangabe.online,author.name,author.vorname,author.idn,sprache.text,...,Satzart.druck,Erscheinungsland.druck,Formangabe.druck,Sachgruppe,Geschlecht,pubplace,city,state,Formangabe.bez.druck,Formangabe.bez.online
0,1026437571,Oa,Friede oder Krieg?,The @New Commonwealth,London,NaN,Davies,David Davies,120680521,NaN,...,AFl,NaN,NaN,NaN,NaN,London,NaN,NaN,NaN,NaN
1,1031842667,Oa,Ernst Thaelmann,Workers Library Publishers,New York,NaN,Groetz,Robert Gottlieb,127871861,eng,...,NaN,NaN,NaN,NaN,NaN,New York,NaN,NaN,NaN,NaN
2,1031883495,Oa,O @sob? i psychoanalyse,Nakladatelství Orbis,Praha [Prag],NaN,Freud,Sigmund,118535315,cze,...,NaN,NaN,NaN,NaN,m,Praha,NaN,NaN,NaN,NaN
3,103188355X,Oa,Türkiye üzümlerinin k?ymetlendirilmesi,Yüksek Ziraat Enstitüsü,Ankara,NaN,Gerngross,Otto,116589590,ger,...,NaN,NaN,NaN,NaN,NaN,Ankara,NaN,NaN,NaN,NaN
4,103188355X,Oa,Türkiye üzümlerinin k?ymetlendirilmesi,Yüksek Ziraat Enstitüsü,Ankara,NaN,Gerngross,Otto,116589590,tur,...,NaN,NaN,NaN,NaN,NaN,Ankara,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27588,1043364390,OF,Road to victory,Museum of Modern Art,"New York, NY",NaN,NaN,NaN,NaN,eng,...,NaN,NaN,NaN,NaN,NaN,"New York, NY",New York,NY,NaN,NaN
27589,1043820809,OF,American Writers' Congress,Direction,Darien/Conn.,NaN,NaN,NaN,NaN,eng,...,AF,XD-US,NaN,NaN,NaN,"Darien, Conn.",Darien,Conn.,NaN,NaN
27590,1044193913,OF,Concerning the spiritual in art and painting i...,"Wittenborn, Schultz",New York,NaN,Kandinsky,Wassily,118559737,eng,...,AFl,NaN,NaN,NaN,m,New York,NaN,NaN,NaN,NaN
27591,1058620460,OF,Birth of the waltz,Dance Index Ballet Caravan Inc.,"New York, NY",NaN,NaN,NaN,NaN,eng,...,AF,XD-US,NaN,793,NaN,"New York, NY",New York,NY,NaN,NaN
27592,1058621513,OF,Monopoly and competition in industry and labor,"Columbia Univ., Acad. of Political Science","New York, NY",NaN,NaN,NaN,NaN,eng,...,AF,XD-US,NaN,330,NaN,"New York, NY",New York,NY,NaN,NaN

In [4]:
df_cord = df_cord.rename(columns={'Ersch.ort.no.brack': 'pubplace'})
df_cord = df_cord[['pubplace', 'lat', 'long']]  # filter by pubplace (brackets already cleared)
#df_cord = df_cord[['Erscheinungsort', 'lat', 'long']]   # filter by Erscheinungsort (with brackets)
print(len(df_cord))

27593

In [11]:
df_cord = df_cord.drop_duplicates()
print(len(df_cord))

851

In [12]:
# Remove white spaces at end of column "pubplace": 
def normalize(text): 
    new = unicodedata.normalize('NFC', text)
    return new 

df_cord.pubplace = df_cord.pubplace.apply(normalize)
df_cord.pubplace = df_cord.pubplace.str.strip('"')

In [13]:
df_cord.query("pubplace == 'München'")

    pubplace        lat       long
451  München  48.137108  11.575382

In [14]:
df_cord = df_cord.drop_duplicates()
#df_grouped = df_cord.groupby(["pubplace"]).size().reset_index(name='counts')
print(len(df_cord))
#print(df_grouped)
print(df_cord)

851
            pubplace        lat       long
0             London  51.507336  -0.127650
1           New York  40.712728 -74.006015
2              Praha  50.087465  14.421254
3             Ankara  39.920789  32.854048
5            Leipzig  51.340632  12.374733
...              ...        ...        ...
27443    Madison, NJ  40.759823 -74.417097
27455          Adana  36.986360  35.325286
27496     Providence  41.823989 -71.412834
27574  Summit, N. J.  40.718236 -74.359230
27579  Darien, Conn.  41.078708 -73.469287

[851 rows x 3 columns]

In [15]:
df_grouped.to_csv("places.csv", encoding="utf-8")

In [19]:
#df_merge = pd.merge(df, df_cord, on=['Erscheinungsort'], how="left")  # old version
df_merge_pubplace = df.merge(df_cord, on=['pubplace'], how="left")

In [20]:
df_merge_pubplace

,idn,Satzart,Haupttitel,Verlagsname,Erscheinungsort,Formangabe.online,author.name,author.vorname,author.idn,sprache.text,...,Formangabe.druck,Sachgruppe,Geschlecht,pubplace,city,state,Formangabe.bez.druck,Formangabe.bez.online,lat,long
0,1026437571,Oa,Friede oder Krieg?,The @New Commonwealth,London,NaN,Davies,David Davies,120680521,NaN,...,NaN,NaN,NaN,London,NaN,NaN,NaN,NaN,51.507336,-0.127650
1,1031842667,Oa,Ernst Thaelmann,Workers Library Publishers,New York,NaN,Groetz,Robert Gottlieb,127871861,eng,...,NaN,NaN,NaN,New York,NaN,NaN,NaN,NaN,40.712728,-74.006015
2,1031883495,Oa,O @sob? i psychoanalyse,Nakladatelství Orbis,Praha [Prag],NaN,Freud,Sigmund,118535315,cze,...,NaN,NaN,m,Praha,NaN,NaN,NaN,NaN,50.087465,14.421254
3,103188355X,Oa,Türkiye üzümlerinin k?ymetlendirilmesi,Yüksek Ziraat Enstitüsü,Ankara,NaN,Gerngross,Otto,116589590,ger,...,NaN,NaN,NaN,Ankara,NaN,NaN,NaN,NaN,39.920789,32.854048
4,103188355X,Oa,Türkiye üzümlerinin k?ymetlendirilmesi,Yüksek Ziraat Enstitüsü,Ankara,NaN,Gerngross,Otto,116589590,tur,...,NaN,NaN,NaN,Ankara,NaN,NaN,NaN,NaN,39.920789,32.854048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27588,1043364390,OF,Road to victory,Museum of Modern Art,"New York, NY",NaN,NaN,NaN,NaN,eng,...,NaN,NaN,NaN,"New York, NY",New York,NY,NaN,NaN,40.712728,-74.006015
27589,1043820809,OF,American Writers' Congress,Direction,Darien/Conn.,NaN,NaN,NaN,NaN,eng,...,NaN,NaN,NaN,"Darien, Conn.",Darien,Conn.,NaN,NaN,41.078708,-73.469287
27590,1044193913,OF,Concerning the spiritual in art and painting i...,"Wittenborn, Schultz",New York,NaN,Kandinsky,Wassily,118559737,eng,...,NaN,NaN,m,New York,NaN,NaN,NaN,NaN,40.712728,-74.006015
27591,1058620460,OF,Birth of the waltz,Dance Index Ballet Caravan Inc.,"New York, NY",NaN,NaN,NaN,NaN,eng,...,NaN,793,NaN,"New York, NY",New York,NY,NaN,NaN,40.712728,-74.006015
27592,1058621513,OF,Monopoly and competition in industry and labor,"Columbia Univ., Acad. of Political Science","New York, NY",NaN,NaN,NaN,NaN,eng,...,NaN,330,NaN,"New York, NY",New York,NY,NaN,NaN,40.712728,-74.006015

In [23]:
df_merge_pubplace.to_csv("exilarchiv_data.csv", sep=";", encoding="utf-8")

In [24]:
df_test = df_merge_pubplace.groupby(["pubplace"]).size().reset_index(name='counts')

In [25]:
df_test

             pubplace  counts
0        's-Graveland       9
1       's-Gravenhage      51
2    's-Hertogenbosch       1
3              Aachen       1
4             Aalborg       6
..                ...     ...
721       Český Těšín       1
722        ʾÊn-.Hărôd       1
723         ʿEn-Ḥārôd      15
724           ʿÊn-Gēv       1
725            Ḥulātā       1

[726 rows x 2 columns]