In [28]:
import pandas as pd
import unicodedata
import geopy
from geopy.geocoders import Nominatim

In [27]:
df = pd.read_csv("exilarchiv-monografien-mit-geoloc-v6-corr2.csv", sep=';', encoding="utf-8")
print(len(df))

27593

In [4]:
df = df.drop(['lat', 'long'], axis=1)

In [22]:
df_cord = df[['pubplace']]  # filter by pubplace (brackets already cleared)
df_cord = df_cord.drop_duplicates()

In [23]:
def normalize(text): 
    new = unicodedata.normalize('NFC', text)
    return new 

df_cord.pubplace = df_cord.pubplace.apply(normalize)
df_cord.pubplace = df_cord.pubplace.str.strip('""')

In [24]:
df_cord.query("pubplace == 'München'")

    pubplace
451  München

In [29]:
## Connect to Geolocator:
geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")

In [31]:
#Add new colum 'gcode' that contains translated Ort-value to geolocation: 
#WARNING: THIS MAY TAKE A WHILE

df_cord['gcode'] = df_cord.pubplace.apply(geolocator.geocode)
df_cord

            pubplace                                              gcode
0             London  (London, Greater London, England, United Kingd...
1           New York  (City of New York, New York, United States, (4...
2              Praha  (Hlavní město Praha, Praha, Česko, (50.0874654...
3             Ankara  (Ankara, Çankaya, Ankara, İç Anadolu Bölgesi, ...
5            Leipzig  (Leipzig, Sachsen, Deutschland, (51.3406321, 1...
...              ...                                                ...
27443    Madison, NJ  (Madison, Morris County, New Jersey, 07940, Un...
27455          Adana  (Adana, Seyhan, Adana, Akdeniz Bölgesi, 01010,...
27496     Providence  (Providence, Providence County, Rhode Island, ...
27574  Summit, N. J.  (Summit, Union County, New Jersey, United Stat...
27579  Darien, Conn.  (Darien, Western Connecticut Planning Region, ...

[726 rows x 2 columns]